* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  position: relative;

  --primary-color: #3f3d56;
  --span-color: #ee24ff;
  --paragraph-color: #828282;
  --line-color: #eceff2;
}

body {
  font-size: 1.6rem;

  text-align: center;
  min-height: 100vh;

  background: url(./assets/wave.png) no-repeat center bottom;
  background-size: contain;

  font-family: "Open Sans", sans-serif;
}

.page {
}

main {
  width: 62.6rem;
  margin: 0 auto 6.4rem;

  padding-top: 6.4rem;
}

main img {
  margin-bottom: 3.2rem;
}

main h1 {
  margin-bottom: 1.6rem;
  font-family: "Dosis", sans-serif;

  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: normal;
}

main h1 span {
  color: var(--span-color);
  font-weight: 700;
}

main section {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  width: 54rem;
  margin: 0 auto;
}

main section p {
  color: var(--paragraph-color);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}

main section p span {
  color: var(--primary-color);
  font-weight: 700;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.2rem;

  width: 39rem;
  margin: 0 auto 16rem;
  padding-top: 1.6rem;
  border-top: 1px solid var(--line-color);
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.2rem;
}

/* .wave {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
} */
